@import "tailwindcss";

/* oswald-200 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200;
  src: url('./fonts/oswald/oswald-v53-latin_latin-ext-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* oswald-300 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/oswald/oswald-v53-latin_latin-ext-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* oswald-regular - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/oswald/oswald-v53-latin_latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* oswald-500 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/oswald/oswald-v53-latin_latin-ext-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* oswald-600 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/oswald/oswald-v53-latin_latin-ext-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* oswald-700 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/oswald/oswald-v53-latin_latin-ext-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lora-regular - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/lora/lora-v35-latin_latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lora-500 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lora';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/lora/lora-v35-latin_latin-ext-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lora-600 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lora';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/lora/lora-v35-latin_latin-ext-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lora-700 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/lora/lora-v35-latin_latin-ext-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@theme {
  --color-main: oklch(0.68 0.17 45.63);
  --font-oswald: "Oswald", sans-serif;
  --font-lora: "Lora", serif;
}
/* create class aliases like bg-main for example */

@source './*.php';
/* This allow to scan php file, 
if you wanna use tailwind classes in php files */

@plugin "@tailwindcss/typography";
/* Adds plugins?
'Use the @plugin directive to load a legacy JavaScript-based plugin'
*/

@utility c-main {
  @apply bg-main;
  @variant md {
    @apply bg-amber-300;
  }
  @variant lg {
    @apply bg-amber-950;
  }
  @variant xl {
    @apply bg-blue-900;
  }
}
/* Example how to create a class / alias class 

Also contains medias queries, it's mobile first.

sm	40rem (640px)	@media (width >= 40rem) { ... }
md	48rem (768px)	@media (width >= 48rem) { ... }
lg	64rem (1024px)	@media (width >= 64rem) { ... }
xl	80rem (1280px)	@media (width >= 80rem) { ... }
2xl	96rem (1536px)	@media (width >= 96rem) { ... }

Can be used in classed directly too 
instead of with this class / alias :

Width of 16 by default, 
32 on medium screens, 
and 48 on large screens :

<img class="w-16 md:w-32 lg:w-48" src="..." />
*/

@utility stack-* {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * --value(integer));
}
/* Another example how to create a class / alias class 
   NGL this is pretty crazy, that's really really good !
*/


/* PAYPAL CSS */

.paypal-powered-by {
  text-align: center;
  margin: 10px auto;
  height: 14px;
  font-family: PayPal Plain, system-ui, -apple-system, Roboto, "Segoe UI",
    Helvetica-Neue, Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  color: #7b8388;
  position: relative;
  margin-right: 3px;
  bottom: 3px;
}

.paypal-powered-by > .paypal-button-text,
.paypal-powered-by > .paypal-logo {
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  line-height: 16px;
  font-size: 11px;
}
